	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/05/2017 09:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-game-console-1:before { content: "\f100"; }
.flaticon-002-bowling:before { content: "\f101"; }
.flaticon-003-roulette:before { content: "\f102"; }
.flaticon-004-sand-clock:before { content: "\f103"; }
.flaticon-005-block:before { content: "\f104"; }
.flaticon-006-medal:before { content: "\f105"; }
.flaticon-007-racing-game:before { content: "\f106"; }
.flaticon-008-shield:before { content: "\f107"; }
.flaticon-009-bomb-1:before { content: "\f108"; }
.flaticon-010-sword:before { content: "\f109"; }
.flaticon-011-computer:before { content: "\f10a"; }
.flaticon-012-pinball:before { content: "\f10b"; }
.flaticon-013-speedometer:before { content: "\f10c"; }
.flaticon-014-joystick:before { content: "\f10d"; }
.flaticon-015-cricket:before { content: "\f10e"; }
.flaticon-016-dice:before { content: "\f10f"; }
.flaticon-017-tic-tac-toe:before { content: "\f110"; }
.flaticon-018-boxing:before { content: "\f111"; }
.flaticon-019-game-console:before { content: "\f112"; }
.flaticon-020-gun:before { content: "\f113"; }
.flaticon-021-trophy:before { content: "\f114"; }
.flaticon-022-tetris:before { content: "\f115"; }
.flaticon-023-football:before { content: "\f116"; }
.flaticon-024-ghost:before { content: "\f117"; }
.flaticon-025-bomb:before { content: "\f118"; }
.flaticon-026-cupid:before { content: "\f119"; }
.flaticon-027-circular-target:before { content: "\f11a"; }
.flaticon-028-mouse:before { content: "\f11b"; }
.flaticon-029-puzzle:before { content: "\f11c"; }
.flaticon-030-slot-machine:before { content: "\f11d"; }
.flaticon-031-clover:before { content: "\f11e"; }
.flaticon-032-knight:before { content: "\f11f"; }
.flaticon-033-controller:before { content: "\f120"; }
.flaticon-034-ufo:before { content: "\f121"; }
.flaticon-035-crown:before { content: "\f122"; }
.flaticon-036-diamond:before { content: "\f123"; }
.flaticon-037-space:before { content: "\f124"; }
.flaticon-038-flask:before { content: "\f125"; }
.flaticon-039-magnet:before { content: "\f126"; }
.flaticon-040-domino:before { content: "\f127"; }
.flaticon-041-podium:before { content: "\f128"; }
.flaticon-042-poker:before { content: "\f129"; }
.flaticon-043-flag:before { content: "\f12a"; }
.flaticon-044-chess:before { content: "\f12b"; }
.flaticon-045-game-boy:before { content: "\f12c"; }
.flaticon-046-castle:before { content: "\f12d"; }
.flaticon-047-love:before { content: "\f12e"; }
.flaticon-048-pacman:before { content: "\f12f"; }
.flaticon-049-treasure:before { content: "\f130"; }
.flaticon-050-poker-chip:before { content: "\f131"; }