################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BPM2Game/bin
/Bpm2GP.Model/bin/Debug
/Bpm2GP.Model/obj/Debug
/BPM2Game.Mapping/bin/Debug
/BPM2Game.Mapping/obj/Debug
/packages/BPMN.Sharp.1.0.5
/packages/toastr.2.1.1
/packages/Rotativa.MVC.2.0.3/Rotativa.MVC.2.0.3.nupkg
/packages/Rotativa.MVC.2.0.3/lib/net45/Rotativa.MVC.dll
/packages/Rotativa.MVC.2.0.3/lib/net45
/packages/Rotativa.MVC.2.0.3/content/App_Browsers/qt.browser
/packages/Rotativa.MVC.2.0.3/content/App_Browsers
/packages/Rotativa.MVC.2.0.3
/packages/Rotativa.Core.2.0.0/Rotativa.Core.2.0.0.nupkg
/packages/Rotativa.Core.2.0.0/lib/net45/Rotativa.Core.dll
/packages/Rotativa.Core.2.0.0/lib/net45
/packages/Rotativa.Core.2.0.0/content/Rotativa/wkhtmltopdf.exe
/packages/Rotativa.Core.2.0.0/content/Rotativa
/packages/Rotativa.Core.2.0.0
/packages/Rotativa.1.7.3/Rotativa.1.7.3.nupkg
/packages/Rotativa.1.7.3/lib/net461/Rotativa.dll
/packages/Rotativa.1.7.3/lib/net461
/packages/Rotativa.1.7.3/content/Rotativa/wkhtmltopdf.exe
/packages/Rotativa.1.7.3/content/Rotativa/wkhtmltoimage.exe
/packages/Rotativa.1.7.3/content/Rotativa/help-wkhtmltopdf.txt
/packages/Rotativa.1.7.3/content/Rotativa/help-wkhtmltoimage.txt
/packages/Rotativa.1.7.3/content/Rotativa
/packages/Rotativa.1.7.3/content/App_Browsers/qt.browser
/packages/Rotativa.1.7.3/content/App_Browsers
/packages/Rotativa.1.7.3/content
/packages/Rotativa.1.7.3
/packages
/BPM2Game.Mapping/obj/Release
/BPM2Game.Mapping/bin/Release
/Bpm2GP.Model/bin/Release
/Bpm2GP.Model/obj/Release
/BPM2Game/Properties/PublishProfiles
*.dll
*.pubxml
