################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BPM2Game/bin
/Bpm2GP.Model/bin/Debug
/Bpm2GP.Model/obj/Debug
