@model Bpm2GP.Model.DataBase.Models.Designer
@{
    ViewBag.Title = "Profile";
}

<h2>Profiler</h2>
<hr/>

<div class="row">
    <div class="col-md-5">
        <form class="panel panel-primary">
            <div class="panel-heading">
                <h4>Designer Profile</h4>
            </div>
            <div class="panel-body" id="designerData">
                @Html.Partial("_DesignerProfile", Model)
            </div>
            <div class="panel-footer text-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#dlgProfile"><i class="glyphicon glyphicon-edit"></i> Update Profile</button>
            </div>
        </form>
    </div>

    <div class="col-md-offset-1 col-md-6">
        @Html.Partial("_MySolicitations", Model)
    </div>
</div>

@Html.Partial("_UpdateProfile", Model)

