@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<ins><h1 class="text-danger">Error</h1></ins>
<h2 class="text-danger">Controller: @Model.ControllerName</h2>
<h2 class="text-danger">Action: @Model.ActionName</h2>
<h2 class="text-danger">Details:</h2>
<p>
    @Model.Exception
</p>