@model Bpm2GP.Model.DataBase.Models.Project

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<br/>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        @if (!string.IsNullOrEmpty(Model.BpmnModelPath))
        {
            <div class="alert alert-info text-center">
                <div class="btn-group-sm">
                    <a href="#" class="btn btn-primary" id="showProcess" data-toggle="tooltip" data-placement="bottom" title="Show Process Model">
                        <i class="glyphicon glyphicon-eye-open "></i> Show Process Model
                    </a>
                    @if (Model.DesignMappings.Count <= 0)
                    {
                        <a href="@Url.Action("ProcessModelling", "Project", new {id = Model.Id})" class="btn btn-default"
                           data-toggle="tooltip" data-placement="top" title="Edit Process Model">
                            <i class="glyphicon glyphicon-edit"></i> Edit Process Model
                        </a>
                    }
                    else
                    {
                        <div class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="It doesn't possible to change process after perfom some mapping.'">
                            <i class="glyphicon glyphicon-edit"></i> Edit Process Model
                        </div>
                    }
                    <a href="" class="btn btn-warning" id="save-download" data-toggle="tooltip" data-placement="bottom" title="Download Process Model">
                        <i class="glyphicon glyphicon-cloud-download"></i> Download BPMN
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <div class="btn-group-sm">
                    <a href="@Url.Action("ProcessModelling", "Project", new {id = Model.Id})" class="btn btn-default"
                       data-toggle="tooltip" data-placement="top" title="Create Process Model">
                        <i class="glyphicon glyphicon-plus"></i> New Process Model
                    </a>
                </div>
            </div>
        }
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.BpmnModelPath))
{
    @Html.Partial("_ViewProcessModel", new ViewDataDictionary() {{"BpmnFilePath", ViewData["BpmnModelPath"]}, {"ProjectId", Model.Id}})
}
