@model IEnumerable<Bpm2GP.Model.DataBase.Models.ProjectGddSectionContent>
 
<table class="table table-responsive table-bordered">
@foreach (var content in Model)
{
    <tr>
        <td class="text-center row-border btn-group-xs col-md-1" style="vertical-align: middle;">
            <a data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#gddContentSection"
                data-ajax-loading="#divCarregando" data-toggle="tooltip" data-ajax-success="showSectionContentModal"
                data-placement="bottom" title="Edit Content"
                href="@Url.Action("EditGddSectionContent", "Project", new {id = content.Id})" class="btn btn-primary">
                <i class="glyphicon glyphicon-edit"></i> Edit Content
            </a>
            <p />
            <a data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#gddPanel"
                data-ajax-loading="#divCarregando" data-toggle="tooltip"
                data-placement="bottom" title="New Content"
                href="@Url.Action("RemoveContent", "Project", new {id = content.Id})" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> Remove Content
            </a>
        </td>
        <td class="text-justify row-border col-md-11">
            <p>
                @Html.Raw(Html.Encode(@content.Content).Replace("{", "<").Replace("}", ">").Replace("\n", "<br />"))
            <p />
        </td>
    </tr>
}
</table>

