<h2>Process Modelling</h2>
<hr />

<div class="alert alert-success row">
    <div class="col-md-3 text-left">
        <button class="btn btn-default"style="height: 54px" id="newProcess">
            <i class="glyphicon glyphicon-file "></i> New Model
        </button>
        <button class="btn btn-default" style="height: 54px" id="save-button">
            <i class="glyphicon glyphicon-floppy-disk"></i> Save Model
        </button>
    </div>
    <form class="col-md-9 text-right" id="fileSelected">
        <input id="projectId" type="hidden" value="@ViewBag.ProjectId"/>
        <input id="input-1a" type="file" class="file" data-show-preview="false">
    </form>
</div>
<!-- element to draw bpmn diagram in -->
<div id="modelArea">
    <div class="well" style="height: 600px" id="canvas"></div>
</div>
<!-- scripts -->
<!-- bpmn-js modeler -->
<script src="../../Scripts/bower_components/bpmn-js/dist/bpmn-modeler.js"></script>
<!-- application -->
<script src="../../Scripts/modeler.js"></script>
