<h2>Process Modelling</h2>
<hr />
<script type="text/javascript">
    var edit = "@ViewBag.Edit";
    var modelFile = "@ViewBag.BpmnFilePath";

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="alert alert-success row">
    <form class="form-inline" id="fileSelected">
        <div class="form-group col-md-5">
            <input id="projectId" type="hidden" value="@ViewBag.ProjectId"/>
            <input class="form-control" id="edtBpmnInput" type="file">
        </div>
        <div class="col-md-7">
            <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="bottom" title="Open Process Model">
                <i class="glyphicon glyphicon-cloud-upload "></i>
            </button>
            <a href="#" class="btn btn-default" id="newProcess" data-toggle="tooltip" data-placement="bottom" title="New Process Model">
                <i class="glyphicon glyphicon-file "></i>
            </a>
            <a href="#" class="btn btn-success" id="save-button" data-toggle="tooltip" data-placement="bottom" title="Save Process Model">
                <i class="glyphicon glyphicon-floppy-disk"></i>
            </a>
            <a href="#" class="btn btn-warning" id="save-download" data-toggle="tooltip" data-placement="bottom" title="Download Process Model">
                <i class="glyphicon glyphicon-cloud-download"></i>
            </a>
        </div>
    </form>
</div>
<!-- element to draw bpmn diagram in -->
<div id="modelArea">
    <div class="well" style="height: 600px" id="canvas"></div>
    <div id="js-properties-panel"></div>
</div>
<!-- scripts -->
<!-- bpmn-js modeler -->
<script src="../../Scripts/bower_components/bpmn-js/dist/bpmn-modeler.js"></script>
<!-- application -->
<script src="../../Scripts/modeler.js"></script>
