<h2>Process View</h2>
<hr />
<script type="text/javascript">
    var modelFile = "@ViewBag.ProjectId" + ".txt";
</script>
<form class="col-md-9 text-right">
    <input id="projectId" type="hidden" value="@ViewBag.ProjectId"/>
</form>
<!-- element to draw bpmn diagram in -->
<div>
    <div class="well" style="height: 600px" id="canvas"></div>
</div>

<hr/>
<label>Selected BPMN Element</label>
<p id="selElementView"></p>
<!-- scripts -->
<!-- bpmn-js modeler -->
<script src="../../Scripts/bower_components/bpmn-js/dist/bpmn-navigated-viewer.js"></script>
<!-- application -->
<script src="../../Scripts/viwer-bpmn.js"></script>
