@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 text-center center">
        <h1>BPM to Game Project</h1>
        <p class="text-center" style="font-size: 26px">
            A digital platform to create game project based on business process models.
        </p>
        <img alt="Index image" src="@Url.Content("~/images/site/bpm2game.png")" width="400" height="250"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create your Projects</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mapping your Process</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Create your Game Design Document</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>