<button id="save-button">Save Diagram</button>
<!-- element to draw bpmn diagram in -->
<div style="height: 600px" id="canvas"></div>
<!-- scripts -->
<!-- bpmn-js modeler -->
<script src="../../Scripts/bower_components/bpmn-js/dist/bpmn-modeler.js"></script>
<!-- application -->
<script src="../../Scripts/modeler.js"></script>